.chatbot {
    position: fixed;
    padding: 10px;
    bottom: 16%;
    right: 6%;
    width: 55%;
    height: 70%;
    background-color: #fff;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    border: 1px solid #ddd;
  }
  

  .chatbot-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin-right: 10px;
    border: 1px solid #ddd;
  }
  
  .chatbot-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .chatbot-name {
    font-size: 18px;
    font-weight: bold;
    align-items: center;
  }
  .chatbot-header {
    background-color: #2f80ed;
    color: #fff;
    display: flex;
    align-items: center;
    border-radius: 10px 10px 0 0;
    padding: 10px;
  }
  
  .chatbot-button {
    margin-left: auto;
    padding:10px;
    width: auto;
    height: auto;
  }
  
  .chatbot-button button {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    width: auto;
    height: auto;
  }

  .chatbot-button button:hover {
    text-decoration: underline;
  }
  
  .chatbot-messages {
    height: 425px;
    overflow-y: scroll;
    color: #333;
    border: 1px solid #ddd;
    border-top: none;
    padding: 10px;
  }
  
  .message {
    display: flex;
    margin-bottom: 10px;
    padding: 10px;
    color: blue
    ;
  }
  
  .message p {
    margin: 2;
  }
  
  .message.user {
    justify-content: flex-end;
  }
  .message small {
    font-size: 14px;
    margin-left: 5px;
    color: #777;
  }
  .message.user p {
    background-color: #a6d9fc;
    border-radius: 1px 5px 5px 5px;
    color: #333;
    padding: 10px;
  }
  
  .message.bot {
    justify-content: flex-start;
    padding:10px;
  }
  
  .message.bot p {
    background-color: #e6e6e6;
    border-radius: 0 5px 5px 5px;
    color: #333;
    padding:10px;
    border: 1px solid #ddd;
    max-width: 70%;
    word-wrap: break-word;
  }
  
  .chatbot-form {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    
  }
  
  .chatbot-form input {
    flex: 1;
    border-radius: 2px 2px 2px 2px;
    height: 100%;
    border: none;
    padding: 0 10px;
    font-size: 1.2rem;
  }
  .chatbot-form button {
    background-color: #2196f3;
    color: white;
    border: none;
    padding: 10px;
    margin-left: 10px;
    cursor: pointer;
    font-size: 1.3rem;
  }
  